<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="center-horizontal">
            <img class="nav-icon" src="../../assets/img/pesa.png" alt="" />
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active nav-item active">
                <a class="nav-link" [routerLink]="'/inicio'">Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/ejercicio'">Ejercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/especialistas'">Especialistas</a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="row row-cols-3" style="height: 100px">
            <div class="col toggle-button">
                <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >menu</mat-icon
          >
        </button>
            </div>
            <div class="col center-horizontal-vertical full-width">
                <span class="principal-title">GYM THE <span class="secondary-title">BRO'HS</span>
                </span>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>